{% extends 'frontend/layout.html.twig' %}

{% block contents %}
    <h2>Events</h2>
    <div class="events">
        {% for event in events %}
            <div class="event">{{ event.name }}</div>
        {% else %}
            <div class="no-events">There are no events at the moment.</div>
        {% endfor %}
    </div>
    {% if events|length > 0 %}
        <div class="events-pagination">
            {{ pagerfanta(events) }}
        </div>
    {% endif %}
{% endblock %}
